 node_modules
# dépendances
node_modules/

# Next.js
.next/
out/
dist/

# environnement (très important)
.env
.env.local
.env.production
.env.development

# base de données locale Prisma / SQLite
dev.db
*.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# système
.DS_Store
Thumbs.db

# PWA (Next-PWA)
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map